# List

In [ ]:
student_name = "Panha"
student_name2 = "Sambath"

In [2]:
student_names = ["Panha", "Sambath"]

Get 2nd element

In [3]:
student_names[1]

'Sambath'

Get 1st element

In [4]:
student_names[0]

'Panha'

Get element out of range

In [5]:
student_names[2]

IndexError: list index out of range

Error in between of code (student_names = ["Panha", "Sambath"])

In [6]:
st3_name = student_names[2]
st1_name = student_names[0]
st2_name = student_names[1]

IndexError: list index out of range

In [7]:
st1_name

NameError: name 'st1_name' is not defined

In [10]:
st1_name = student_names[0]

In [11]:
print(st1_name)

Panha

In [12]:
print(stu2)

NameError: name 'stu2' is not defined

In [14]:
numbers = [1, 2, 3, 4, 5]
mixed_number_and_text = [1, "2", 3, "4", 5]

In [ ]:
numbers[1], mixed_number_and_text[1]

(2, '2')

In [16]:
numbers[1] + mixed_number_and_text[1]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Update list

In [21]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [22]:
numbers = [1, 2, 30, 4, 5]
numbers

[1, 2, 30, 4, 5]

In [23]:
numbers[0] = 10
print(numbers)

[10, 2, 30, 4, 5]

# Dict

In [30]:
person = { 'name': "Sambath", "age": 20}
person

{'name': 'Sambath', 'age': 20}

Access key of dict

In [31]:
print(person['name'])

Sambath

In [32]:
person['gender']

KeyError: 'gender'

In [33]:
person['gender'] = 'Male'

In [34]:
print(person)

{'name': 'Sambath', 'age': 20, 'gender': 'Male'}

# Turple

In [38]:
numbers = (1, 2, 3, 4)

In [39]:
numbers[0]

1

In [40]:
numbers[0] = 10

TypeError: 'tuple' object does not support item assignment