In [18]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/anaconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("datasets/01-attendantsheet-sample.xlsx")

In [3]:
data.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Instructor: So Vengleab ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00,Total,NaN,NaN,NaN
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S25,S26,S27,S28,S29,S30,P,E,L,A
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,12,10,0,8
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,8
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,23,4,1,2
11,4,Eung Laimeng,M,AW,A,A,E,E,P,P,...,A,A,A,A,A,A,13,6,1,10
12,5,Soeun Kongsovann,M,AW,P,P,E,E,P,P,...,L,P,P,P,P,P,21,4,1,4
13,6,Kril Darith,M,AW,P,P,P,P,P,P,...,L,P,P,P,P,P,25,4,1,0
14,7,Mao Kolbotr Pisssoth,M,AW,L,P,P,P,L,P,...,E,E,A,A,P,P,15,10,3,2
15,8,Ny Clinton,M,AW,P,P,P,P,P,P,...,P,P,P,P,P,P,26,4,0,0
16,9,Phok Keomonnyratanak,M,USB1,NaN,NaN,A,A,L,P,...,A,A,A,A,A,A,3,12,1,12
17,10,Rith Sokha Neadh,M,USB2,NaN,NaN,P,P,P,P,...,A,A,P,P,P,P,20,6,0,2
18,11,Sat Dona,M,USB3,NaN,NaN,L,P,P,P,...,A,A,P,P,P,P,23,2,1,2
19,12,SOPHEAP Neary,M,USB4,NaN,NaN,L,P,L,P,...,A,A,A,A,A,A,12,4,2,10

In [4]:
data.iloc[6:22, :34]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-06 00:00:00,2025-09-06 00:00:00,2025-09-13 00:00:00,2025-09-13 00:00:00,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,P,P,E,E
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,E,E,P,P
11,4,Eung Laimeng,M,AW,A,A,E,E,P,P,...,P,P,L,P,A,A,A,A,A,A
12,5,Soeun Kongsovann,M,AW,P,P,E,E,P,P,...,E,E,P,P,L,P,P,P,P,P
13,6,Kril Darith,M,AW,P,P,P,P,P,P,...,P,P,P,P,L,P,P,P,P,P
14,7,Mao Kolbotr Pisssoth,M,AW,L,P,P,P,L,P,...,P,P,L,P,E,E,A,A,P,P
15,8,Ny Clinton,M,AW,P,P,P,P,P,P,...,P,P,E,E,P,P,P,P,P,P
16,9,Phok Keomonnyratanak,M,USB1,NaN,NaN,A,A,L,P,...,A,A,A,A,A,A,A,A,A,A
17,10,Rith Sokha Neadh,M,USB2,NaN,NaN,P,P,P,P,...,P,P,E,E,A,A,P,P,P,P
18,11,Sat Dona,M,USB3,NaN,NaN,L,P,P,P,...,P,P,P,P,A,A,P,P,P,P
19,12,SOPHEAP Neary,M,USB4,NaN,NaN,L,P,L,P,...,E,E,A,A,A,A,A,A,A,A
20,13,Srun Chanmonika,F,USB5,NaN,NaN,L,P,L,P,...,P,P,P,P,A,A,P,P,P,P
21,15,Tem Lyhor,M,USB9,NaN,NaN,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
start_row = 0
end_row = 0
end_column = 0

In [7]:
data.shape

(29, 38)

In [9]:
total_rows, total_columns = data.shape
total_rows, total_columns

(29, 38)

In [21]:
for row in range(total_rows):
    sequence_number = data.iloc[row, 0]
    if "date" in str(sequence_number).lower():
        start_row = row
        print(f"Found Start Row at {row}")

    if "legend" in str(sequence_number).lower():
        end_row = row
        print(f"Found End Row at {row}")

Found Start Row at 6
Found End Row at 24

In [20]:
data.iloc[start_row:end_row, :end_column]

Empty DataFrame
Columns: []
Index: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [25]:
filtered_data = data.iloc[start_row:end_row]
filtered_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00,Total,NaN,NaN,NaN
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S25,S26,S27,S28,S29,S30,P,E,L,A
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,12,10,0,8
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,8
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,23,4,1,2

In [ ]:
# total_filtered_column = filtered_data.shape[1]
# total_filtered_column

38

In [30]:
for column in range(total_columns):
    colummn_header = filtered_data.iloc[0, column]
    if str(colummn_header).lower() == 'total':
        print(f"Found End Column: {column}")
        end_column = column

Found End Column: 34

In [33]:
attendant_dataset = filtered_data.iloc[:, :end_column]
attendant_dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-06 00:00:00,2025-09-06 00:00:00,2025-09-13 00:00:00,2025-09-13 00:00:00,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,P,P,E,E
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,E,E,P,P
11,4,Eung Laimeng,M,AW,A,A,E,E,P,P,...,P,P,L,P,A,A,A,A,A,A
12,5,Soeun Kongsovann,M,AW,P,P,E,E,P,P,...,E,E,P,P,L,P,P,P,P,P
13,6,Kril Darith,M,AW,P,P,P,P,P,P,...,P,P,P,P,L,P,P,P,P,P
14,7,Mao Kolbotr Pisssoth,M,AW,L,P,P,P,L,P,...,P,P,L,P,E,E,A,A,P,P
15,8,Ny Clinton,M,AW,P,P,P,P,P,P,...,P,P,E,E,P,P,P,P,P,P
16,9,Phok Keomonnyratanak,M,USB1,NaN,NaN,A,A,L,P,...,A,A,A,A,A,A,A,A,A,A
17,10,Rith Sokha Neadh,M,USB2,NaN,NaN,P,P,P,P,...,P,P,E,E,A,A,P,P,P,P
18,11,Sat Dona,M,USB3,NaN,NaN,L,P,P,P,...,P,P,P,P,A,A,P,P,P,P
19,12,SOPHEAP Neary,M,USB4,NaN,NaN,L,P,L,P,...,E,E,A,A,A,A,A,A,A,A
20,13,Srun Chanmonika,F,USB5,NaN,NaN,L,P,L,P,...,P,P,P,P,A,A,P,P,P,P
21,15,Tem Lyhor,M,USB9,NaN,NaN,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# filtered_criteria = attendant_dataset[:,1]
# filtered_criteria
attendant_dataset[:, :3]

InvalidIndexError: (slice(None, None, None), slice(None, 3, None))