In [1]:
import pandas as pd
import numpy as np

- [1. Exploring The Dataset](#a)
    - [1.1 Load The Datset](#1.1)
    - [1.2 Data Description](#1.2)
- [2. Data Cleaning](#2)
    - [2.1 Missing Value](#2.1)
    - [2.2 Duplicated](#2.2)
    - [2.3 Outliter](#2.3)

## 1. Exploring the datasert
### 1.1 Load the Dataset

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Data_analysis_with_pandas/main/Data/Ecommerce%20Purchases.csv')
df.head(1).T
## using github link for load the data

                                                                  0
Address           16629 Pace Camp Apt. 448\nAlexisborough, NE 77...
Lot                                                           46 in
AM or PM                                                         PM
Browser Info      Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
Company                                             Martinez-Herman
Credit Card                                        6011929061123406
CC Exp Date                                                   02/20
CC Security Code                                                900
CC Provider                                            JCB 16 digit
Email                                             pdunlap@yahoo.com
Job                          Scientist, product/process development
IP Address                                          149.146.147.205
Language                                                         el
Purchase Price                                                98.14

Check first 5 rows of the dataset

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

check last 5 rows of the dataset

In [4]:

df.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

Check type of the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB


Check null values in the dataset

In [9]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64


5. How many rows and columns are there in our Dataset?

In [12]:
df.shape # prints tuple of (rows, columns)

print(f"There are {len(df)} rows and {len(df.columns)} columns")

There are 10000 rows and 14 columns


6. Highest and Lowest Purchase Prices.

In [13]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [18]:
print(f"The highest is ${df['Purchase Price'].max()}\nThe lowest is ${df['Purchase Price'].min()}")

The highest is $99.99
The lowest is $0.0


7. Average Purchase Price

In [19]:
print(f"The average Purchase Price is ${df['Purchase Price'].mean()}")

The average Purchase Price is $50.347302


8. How many people have French 'fr' as their Language?

In [15]:
row, _= df[df["Language"] == 'fr'].shape
row

1097

9. How many languages people have in total

In [23]:
languages = df['Language'].unique()

print(f"There are {len(languages)} langauges")

There are 9 langauges


9. Job Title Contains Engineer or engineer

In [26]:
engineers = df[df['Job'].str.contains('Engineer' or 'engineer')]

engineers

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
55,"27635 Maureen Bypass Apt. 883\nSandraview, SD ...",59 LJ,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sims-Lyons,3158113629128344,09/19,857,VISA 16 digit,adkinsarthur@yahoo.com,"Engineer, broadcasting (operations)",227.235.89.210,pt,48.74
60,"7126 Katherine Squares\nPerkinsview, CO 97299-...",63 qu,AM,Opera/8.68.(X11; Linux x86_64; en-US) Presto/2...,Marshall-Fernandez,349767747049645,05/20,672,JCB 15 digit,sweeneyhannah@jones.biz,"Engineer, agricultural",197.144.142.102,de,20.43
64,"937 Weaver Isle Apt. 096\nTracyborough, KY 182...",97 QO,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_2 rv...,Villa Inc,869930676434762,11/21,578,Discover,jason24@gardner-anderson.com,"Engineer, civil (consulting)",218.171.210.9,it,72.45
82,493 Smith Valleys Suite 004\nNew Madelineville...,35 ls,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_0 like M...,"Robinson, Johnston and Valdez",4351359627548412,06/17,937,VISA 13 digit,amendez@yahoo.com,"Engineer, materials",163.129.163.100,fr,49.04
92,Unit 9659 Box 0618\nDPO AA 00377-5360,37 jN,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,"Williams, Goodman and Morris",4748275281424579,01/18,496,JCB 15 digit,psimmons@harrison-brown.info,"Engineer, land",10.172.75.245,zh,73.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9868,Unit 9129 Box 2546\nDPO AP 96513,78 Ei,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,Fowler-Villanueva,377635852162559,10/16,672,American Express,maryward@lane-reed.com,"Engineer, building services",101.29.252.241,de,25.88
9922,"0850 Joseph Estate Apt. 649\nNew Brookefort, K...",82 SJ,AM,Opera/8.29.(Windows NT 5.01; sl-SI) Presto/2.9...,"Anderson, Charles and Alexander",676344664773,12/19,572,VISA 16 digit,keith96@ross-garrett.info,"Engineer, electrical",225.184.17.88,fr,68.13
9925,"09281 Mills Court Apt. 022\nWatkinstown, WI 83...",15 PM,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5342...,Parker PLC,4872299411791,11/22,974,Diners Club / Carte Blanche,xholloway@cook-coleman.info,"Engineer, materials",175.188.141.23,fr,91.75
9945,"693 Gomez Keys\nWest Marcushaven, SC 32366-3890",60 tG,PM,Mozilla/5.0 (Windows NT 6.2) AppleWebKit/5350 ...,Clay-Johnson,4474423068651820,10/17,216,JCB 15 digit,kyle97@gmail.com,"Engineer, materials",123.237.158.173,pt,51.68
9952,"9991 Vaughn Hills\nRacheltown, PA 55409",36 KC,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Ward, Smith and Castillo",6011679271321726,09/19,964,Voyager,jonesjennifer@olson.com,"Engineer, energy",116.228.12.42,es,39.63

How many number of people have job as manager?

In [29]:
managers = df[df['Job'].str.contains('manager' or 'Manager')]

print(f'There are {len(managers)} managers')

There are 785 managers


10. Find The Email of the person with the following IP Address: 132.207.160.22

In [43]:
IP_ADDRESS = '132.207.160.22'

selected_address = df['Email'][df['IP Address'] == IP_ADDRESS]
# Initially, it is a Series

email = selected_address.iloc[0]
# So, if we just want the value (string), just iloc it!

print(f"The Email of the dude with IP Address {IP_ADDRESS} is {email}")

The Email of the dude with IP Address 132.207.160.22 is amymiller@morales-harrison.com


11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?

In [49]:
MC_and_above_50 = df[(df['CC Provider'] == 'Mastercard') & (df['Purchase Price'] > 50)]
# LET'S GOOOOO, Using the Bitwise AND Operator (&) with Boolean Indexing
# For example: [() & ()]

print(f"There are {len(MC_and_above_50)} dudes who have Mastercard and made a purchse above 50")

There are 405 dudes who have Mastercard and made a purchse above 50


12. Find the email of the person with the following Credit Card Number: 4664825258997302

In [51]:
CC_NUMBER = 4664825258997302

email = df['Email'][df['Credit Card'] == CC_NUMBER]

print(f"The Email of the guy with the Credit Card Number {CC_NUMBER} is: {email.iloc[0]}")

The Email of the guy with the Credit Card Number 4664825258997302 is: bberry@wright.net


13. How many people purchase during the AM and how many people purchase during PM?

In [53]:
AM_people = df[df['AM or PM'] == 'AM']
PM_people = df[df['AM or PM'] == 'PM']

print(f"AM = {len(AM_people)}\nPM = {len(PM_people)}")

AM = 4932
PM = 5068


14. How many people have a credit card that expires in 2020?

In [57]:
expire_in_2020 = df[df['CC Exp Date'].str.contains('/20')]

print(f"There are {len(expire_in_2020)} peeps whose credit card expires in 2020")

There are 988 peeps whose credit card expires in 2020


15. What are the top 5 most popular email providers (e.g. [gmail.com](http://gmail.com/), [yahoo.com](http://yahoo.com/), etc...)

In [ ]:
# 1. extract into a providers column using regex
# 2. groupby the providers
# LEt's goooo

# df['Provider'] = df['Email'].str.extract(pat=r'@([\w.-\.]+)')

# The "Greedy" Regex
df['Provider'] = df['Email'].str.extract(r'@([^ ]+)')
# [^ ] means "any character except a space"
# + means "one or more"

providers_grouped = df.groupby('Provider').size().sort_values(ascending=False).head()
providers_grouped

Provider
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64