<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part II. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [1]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [4]:
football = pd.read_csv('./football.csv', sep = ',')
football.head(2).T

                                  0               1
Team                        Croatia  Czech Republic
Goals                             4               4
Shots on target                  13              13
Shots off target                 12              18
Shooting Accuracy             51.9%           41.9%
% Goals-to-shots              16.0%           12.9%
Total shots (inc. Blocked)       32              39
Hit Woodwork                      0               0
Penalty goals                     0               0
Penalties not scored              0               0
Headed goals                      2               0
Passes                         1076            1565
Passes completed                828            1223
Passing Accuracy              76.9%           78.1%
Touches                        1706            2358
Crosses                          60              46
Dribbles                         42              68
Corners Taken                    14              21
Tackles                          49              62
Clearances                       83              98
Interceptions                    56              37
Clearances off line             NaN             2.0
Clean Sheets                      0               1
Blocks                           10              10
Goals conceded                    3               6
Saves made                       13               9
Saves-to-shots ratio          81.3%           60.1%
Fouls Won                        41              53
Fouls Conceded                   62              73
Offsides                          2               8
Yellow Cards                      9               7
Red Cards                         0               0
Subs on                           9              11
Subs off                          9              11
Players Used                     16              19

<b>Exercise 1. Display all the attributes of the dataset.</b>

In [31]:
football.columns

# print(f'There are {len(football.columns)} columns')

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

<b>Exercise 2. Display the <i>"Team"</i> and <i>"Goals"</i>column.</b>

In [6]:
football[["Team", "Goals"]]

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2

<b>Exercise 3. Display all the countries which joined the competition. How many countries competed in the competition?</b>

In [7]:
total_countries = football["Team"].nunique()
print(f"There are {total_countries} countries join the competition")

There are 16 countries join the competition

<b>Exercise 4. Select the <i>"Shots on target"</i>, <i>"Shots off target"and</i> <i>"Shooting Accuracy"</i> columns and assign these columns to the new dataframe "Shooting Information". Sort the list by the number of shots on target. </b>

In [20]:
shooting_information = football[['Team', 'Shots on target', 'Shots off target', 'Shooting Accuracy']].sort_values(by='Shots on target', ascending=False)

shooting_information

                   Team  Shots on target  Shots off target Shooting Accuracy
13                Spain               42                33             55.9%
7                 Italy               34                45             43.0%
5               Germany               32                32             47.8%
4                France               22                24             37.9%
10             Portugal               22                42             34.3%
14               Sweden               17                19             47.2%
9                Poland               15                23             39.4%
0               Croatia               13                12             51.9%
1        Czech Republic               13                18             41.9%
8           Netherlands               12                36             25.0%
3               England               11                18             50.0%
2               Denmark               10                10             50.0%
12               Russia                9                31             22.5%
6                Greece                8                18             30.7%
11  Republic of Ireland                7                12             36.8%
15              Ukraine                7                26             21.2%

<b>Exercise 5. Display the first 5 columns and assign them into a new dataframe called "First_Five".</b>

In [26]:
First_Five = shooting_information.head().reset_index().drop(columns='index')
First_Five

       Team  Shots on target  Shots off target Shooting Accuracy
0     Spain               42                33             55.9%
1     Italy               34                45             43.0%
2   Germany               32                32             47.8%
3    France               22                24             37.9%
4  Portugal               22                42             34.3%

<b>Exercise 6. Display all columns except the last 4 columns.</b>

In [30]:
football.iloc[:, :len(football.columns)-4]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,NaN,0,10,3,13,81.3%,41,62,2,9
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,2.0,1,10,6,9,60.1%,53,73,8,7
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,0.0,1,10,5,10,66.7%,25,38,8,4
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,1.0,2,29,3,22,88.1%,43,45,6,5
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,0.0,1,7,5,6,54.6%,36,51,5,6
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,0.0,1,11,6,10,62.6%,63,49,12,4
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,0.0,1,23,7,13,65.1%,67,48,12,9
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,1.0,2,18,7,20,74.1%,101,89,16,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0.0,0,9,5,12,70.6%,35,30,3,5
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0.0,0,8,3,6,66.7%,48,56,3,7
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,0.0,2,11,4,10,71.5%,73,90,10,12
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,1.0,0,23,9,17,65.4%,43,51,11,6
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0.0,0,8,3,10,77.0%,34,43,4,6
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,0.0,5,8,1,15,93.8%,102,83,19,11
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,0.0,1,12,5,8,61.6%,35,51,7,7
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0.0,0,4,4,13,76.5%,48,31,4,5

<b>Exercise 7. Sort the list of countries by the number of fouls won and then the number of fouls conceded.</b>

In [ ]:
foul_information = football[['Team', 'Fouls Won', 'Fouls Conceded']]

# foul_information.sort_values(by='Fouls Won', ascending=True)
# foul_information.sort_values(by='Fouls Conceded', ascending=True)

                   Team  Fouls Won  Fouls Conceded
8           Netherlands         35              30
15              Ukraine         48              31
2               Denmark         25              38
12               Russia         34              43
3               England         43              45
6                Greece         67              48
5               Germany         63              49
4                France         36              51
14               Sweden         35              51
11  Republic of Ireland         43              51
9                Poland         48              56
0               Croatia         41              62
1        Czech Republic         53              73
13                Spain        102              83
7                 Italy        101              89
10             Portugal         73              90

<b>Exercise 8. Find the mean of Players Used in a team.

In [40]:
mean_player_used = football['Players Used'].mean()

print(f"There are an average {mean_player_used} players")

There are an average 17.25 players

<b>Exercise 9. Display the list of team(s) which score(s) more than 10 goals.

In [46]:
football['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [45]:
more_than_10_goals_scored = football[football['Goals'] > 10]

more_than_10_goals_scored

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

<b>Exercise 10. Display the countries which begins with letter "P"</b>

In [ ]:
begins_with_P = football[football['Team'].str.startswith('P')]
# MEANS THAT: only take football[True] , since The inner conditin (football['Team'].str.startswith('P')) have only True and False

begins_with_P

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16

<b>Exercise 11. Display the <i>"Shots on target"</i>, <i>"Shots off target"and</i> <i>"Shooting Accuracy"</i> from Portugal, Germany, Sweden and England.</b>

In [65]:
countries_selected = ['Portugal', 'Germany', 'Sweden', 'England']

selected_countries_stats = shooting_information[shooting_information['Team'].isin(countries_selected)]
# .isin() used to check if elements in a Series of DataFrame aare contained within a specified set of values, returning a boolean object 
selected_countries_stats

        Team  Shots on target  Shots off target Shooting Accuracy
5    Germany               32                32             47.8%
10  Portugal               22                42             34.3%
14    Sweden               17                19             47.2%
3    England               11                18             50.0%