<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [1]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [2]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [3]:
print("The first 5 orders of the dataset: ")

order_list.head()

The first 5 orders of the dataset:

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [4]:
num_of_rows = len(order_list)

print("The number of rows is", num_of_rows)

The number of rows is 4622

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [5]:
num_of_columns = len(order_list.columns)

print("The number of columns is", num_of_columns)

The number of columns is 5

<b>Exercise 4. Display the name of each column.</b>

In [6]:
print("The name of each column is:")

for col in order_list.columns:
    print(col)

The name of each column is:
id
quantity
food
description
unit_price

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [ ]:
# Only returns the food name
# order_list['food'].mode()

# Display it with the number of occurences too
food_count = order_list['food'].value_counts()
highest_order = food_count.head(1)

print("the 'food' which has the highest number of orders is ", highest_order.index[0])
print("It was ordered", highest_order.iloc[0], "times")

the 'food' which has the highest number of orders is  Chicken Bowl
It was ordered 726 times

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [20]:
print(highest_order.index[0], "was ordered", highest_order.iloc[0], "times")

Chicken Bowl was ordered 726 times

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

In [41]:
highest_quantity = order_list['quantity'].max()
desc_of_highest_order = order_list[order_list['quantity'] == highest_quantity]['description'].values[0]

# order_list[order_list['quantity'] == highest_quantity]['description'] returns a Series; .values[0] gets the first value
type(desc_of_highest_order)

print(highest_quantity)
print(desc_of_highest_order)

15
nan

In [ ]:
# ORRRRRR, using idxmax(): find the index label of the maximum value
idx = order_list['quantity'].idxmax() # find the index label

desc_of_highest_order = order_list.loc[index:=idx, col:='description']
                                        # index:= and col:=; or not, it's fine
# or: using .iloc
# desc_of_highest_order = order_list.iloc[idx]['description']
highest_quantity = order_list.loc[idx, 'quantity']

print(f"Description: {desc_of_highest_order}")
print(f"Quantity: {highest_quantity}")

Description: nan
Quantity: 15

<b>Exercise 7. How many foods ordered in total?</b>

In [61]:
total_food_ordered = order_list['quantity'].sum()

print(f"Total quantity ordered: {total_food_ordered}")

Total quantity ordered: 4972

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

In [86]:
# total_income = order_list['unit_price'].multiply(order_list['quantity']).sum()
# Cannot, because elements of order_list['unit_price'] are strings

# 1. Convert all elements of order_list['unit_price'] to float and slice $ out
    # Or convert it to string then replace '$' with ''
# 2. Multiply it with quantity
# 3. Sum()

prices = order_list['unit_price'].str.replace('$', '').astype(float)

total_income = (prices * order_list['quantity']).sum()

print(f"Total Income: ${total_income}")

Total Income: $39237.02

<b>Exercise 9. Find the total number of orders.</b>

In [102]:
total_num_of_order_by_row = len(order_list)
total_num_of_order_by_id = order_list['id'].nunique()

print(f"There are {total_num_of_order_by_row} orders by Orders?")
print(f'There are {total_num_of_order_by_id} orders by Invoice?')

There are 4622 orders by Orders?
There are 1834 orders by Invoice?

<b>Exercise 10. Find the average income for each order?</b>

In [111]:
avr_income_each_order = (prices * order_list['quantity']).mean()

print(f"Average Income In Each Order: ${avr_income_each_order:.2f}")

Average Income In Each Order: $8.49

<b>Exercise 11. How many different foods are ordered?</b>

In [115]:
unique_foods = order_list['food'].nunique()

print(f"There are {unique_foods} different foods ordered")

There are 50 different foods ordered